.competence-card {
    background: $primary-color;
}

.competence-card.neutral {
    background: $neutral-color;
}

.competence-card.success {
    background: $success-color;
}

.competence-card.warning {
    background: $warning-color;
}

.back-to-overview {
    float: right;
    cursor: pointer;
}

.back-to-overview:hover {
    color: $secondary-color;
}