.evaluation-page-content {
    .candidate-selection {
        position: relative;
        top: 0;
    }

    .page-title {
        display: inline-block;
        margin-top: 2rem;
    }

    .competence-card {
        background: $primary-color;
    }

    .competence-card.neutral {
        background: $neutral-color;
    }

    .competence-card.success {
        background: $success-color;
    }

    .competence-card.warning {
        background: $warning-color;
    }

    .back-to-overview {
        float: right;
        cursor: pointer;
    }

    .back-to-overview:hover {
        color: $secondary-color;
    }
}