<?xml version="1.0" encoding="utf-8"?>

<!-- Pour plus d'informations sur l'utilisation de la transformation du fichier web.config, consultez http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Dans l'exemple ci-dessous, la transformation "SetAttributes" modifie la valeur de 
    "connectionString" de sorte à utiliser "ReleaseSQLServer" uniquement quand le localisateur "Match" 
    rencontre un attribut "name" dont la valeur est "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      Dans l'exemple ci-dessous, la transformation "Replace" remplace toute la section 
      <customErrors> de votre fichier web.config.
      Notez qu'en raison de la présence d'une seule section customErrors sous le 
      nœud <system.web>, il est inutile d'utiliser l'attribut "xdt:Locator".
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>