<div class="form-page-content">
	<!-- Page Content Title -->
	<div class="row" >
		<div class="col m12 l6 s12">
			<h4 class="page-title valign">Form Creation</h4>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input ng-model="form.name" id="form-name-input" type="text" class="validate">
			<label class="active" for="form-name-input">Form Name</label>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row" >
		<div class="col m12 l6 s12">
			<h4 class="page-title valign">Candidates</h4>
			<div class="row">				
				<div ng-repeat="for candidate in form.candidates" >
					{{ candidate.name }}
				</div>
			</div>
		</div>
		<div class="col m12 l6 s12">
			<h4 class="page-title valign">Judges</h4>
		</div>
	</div>
</div>
<script>
	
$(document).ready(function() {
	Materialize.updateTextFields();
});
</script>