<div class="form-page-content">
	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s6 m3"><a  href="#test2" class="active"  >Form</a></li>
				<li class="tab col s6 m3 "><a href="#test3">Jury &amp; Candidates</a></li>
				<li class="tab col s6 m3"><a href="#test4">Assignments</a></li>
			</ul>
		</div>
		<div id="test2" class="col s12">
			<div ng-include="'app/partials/form_properties.html'"></div>
		</div>
		<div id="test3" class="col s12">
			<div ng-include="'app/partials/form_candidates_juries.html'"></div>
		</div>
		<div id="test4" class="col s12">
			<div ng-include="'app/partials/form_assignments.html'"></div>

	</div>
	<script>
		
	$(document).ready(function() {
		Materialize.updateTextFields();
	});
	$(document).ready(function(){
	$('.tooltipped').tooltip({delay: 50});
	});
	$(document).ready(function(){
	$('ul.tabs').tabs();
	});
	
	</script>