.text-center {
    text-align: center;
}

.justified {
    text-align: justify;
}

.benefit-img {
    width: 50%;
    margin: 0 auto;
    padding-top: 7px;
    padding-bottom: 7px;
}

.btn {
    border: 2px solid;
    border-color: #fff;
    text-decoration: none;
    color: #fff;
    background: #03A9F4;
}

.btn:hover {
    color: #03A9F4;
    background: #fff;
}

.page-header {
    background: #03A9F4;
}

h1,
h2,
h3 {
    color: #03A9F4 !important;
}

#logo > div {
    width: 200px;
    height: 200px;
    background-image: url("../img/revitLogo.png");
    background-size: 200px 200px;
    margin: 0 auto;
}

#logo {

    color: #fff!important;
    background-repeat: no-repeat;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: underline;
    color: #FF9800;
}

.screenshot-container {
}

.screenshot-item img {
    margin-bottom: 10px;
}